.OnlyLeftSideBarLayout {
  background: url('/assets/Background.svg');
  display: flex;
  height: 100vh;
  margin: 0;

  .sidebar {
    align-items: stretch;
    backdrop-filter: blur(64px);
    background: #f8f8f8;
    border-right: 1px solid #e1e3e6;
    height: 100vh;
    opacity: 0.93;
    padding: 34px 24px 32px 24px;
    width: 378px;
  }

  .content {
    align-items: stretch;
    background: #fff;
    flex-basis: 0;
    flex-grow: 999;
  }
}
