.Account {
  align-items: center;
  column-gap: 12px;
  display: flex;
  flex-direction: row;
  padding: 0;

  .picture-user {
    height: 64px;
    width: 64px;
  }

  section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    padding: 4px 0;

    .welcome {
      color: #757d8a;
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
    }

    .username {
      color: #5a6474;
      font-size: 24px;
      font-weight: 700;
      line-height: 32px;
    }
  }

  button {
    align-items: center;
    background: #fff;
    border: 1px solid #e1e3e6;
    border-radius: 8px;
    box-shadow: 0 4px 2px -2px rgba(27, 46, 94, 0.02);
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    height: 48px;
    justify-content: center;
    padding: 12px 60px;
    padding: 0;
    width: 64px;
  }
}
