@import url(https://fonts.googleapis.com/css?family=DM+Sans);
@import url(https://fonts.googleapis.com/css?family=Fira+Code);

@font-face {
  font-family: 'RIDIBatang';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'RIDIBatang', 'DM Sans';
  height: 100vh;
  margin: 0;
}

code {
  font-family: 'Fira Code', monospace;
}
